<!DOCTYPE html>
<html>

<head data-th-replace="~{header :: head}">
</head>
<header data-th-replace="~{header :: #page-header}"/>

<h1>회원 목록</h1>
<p><a data-th-href="@{users/form}" href='form.html'>새 회원</a></p>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>이름</th>
        <th>이메일</th>
    </tr>
    </thead>
    <tbody>

        <tr data-th-each="user : ${list}">
            <td data-th-text="${user.no}">${user.no}</td>
            <td>
                <img data-th-unless="${user.photo}" data-th-src="@{https://rz0apkvp4931.edge.naverncp.com/GIub2Lc5DE/user/default.png(type=f,w=20,h=20)}"
                    src="images/default.png">
                <img data-th-if="${user.photo}" data-th-src="@{https://rz0apkvp4931.edge.naverncp.com/GIub2Lc5DE/user/} + ${user.photo} + '?type=f&w=20&h=20'"
                    src="images/default.png">
<!--                <a data-th-text="${user.name}" data-th-href="@{/users/} + ${user.no}" href='view.html'>임시이름</a></td>-->
                <a data-th-text="${user.name}" data-th-href="@{/users/} + ${user.no}" href='view.html'>임시이름</a></td>
            <td data-th-text="${user.email}">${user.email}</td>
        </tr>

    </tbody>
</table>


</body>
</html>